In [1]:
import pandas as pd
import os

In [2]:
cali_data_today = os.environ['WARN_DATA_PATH']
cali_data_path = '{}/california_warn_raw.csv'.format(cali_data_today)
ca_data = pd.read_csv(cali_data_path)

In [3]:
ca_data.head()

,Unnamed: 0,Unnamed: 0.1,WARN Summary by Month,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,NaN,- State: CA\n - Filter By Date: Received Date...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
3,3,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Reedley,NaN,NaN,Reedley,NaN,Fresno County,NaN,2,NaN,Layoff Permanent,NaN,NaN
4,4,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Hanford,NaN,NaN,Hanford,NaN,Kings County,NaN,3,NaN,Layoff Permanent,NaN,NaN

In [4]:
ca_data.tail(15)

,Unnamed: 0,Unnamed: 0.1,WARN Summary by Month,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1195,1195,NaN,2020-06-16 00:00:00,2020-06-22 00:00:00,2020-07-01 00:00:00,NaN,Eaton Corporation,NaN,NaN,Camarillo,NaN,Ventura County,NaN,61,NaN,Layoff Temporary,NaN,NaN
1196,1196,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Edwards AFB RIF,NaN,NaN,Edwards,NaN,Kern County,NaN,6,NaN,Layoff Permanent,NaN,NaN
1197,1197,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing El Segundo RIF,NaN,NaN,El Segundo,NaN,Los Angeles County,NaN,3,NaN,Layoff Permanent,NaN,NaN
1198,1198,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Long Beach RIF,NaN,NaN,Long Beach,NaN,Los Angeles County,NaN,19,NaN,Layoff Permanent,NaN,NaN
1199,1199,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Huntington Beach RIF,NaN,NaN,Huntington Beach,NaN,Orange County,NaN,24,NaN,Layoff Permanent,NaN,NaN
1200,1200,NaN,2020-06-25 00:00:00,2020-06-30 00:00:00,2020-07-01 00:00:00,NaN,Macy's,NaN,NaN,Modesto,NaN,Stanislaus County,NaN,75,NaN,Layoff Permanent,NaN,NaN
1201,1201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,1202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1203,1203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,1204,NaN,Summary\nby Month,NaN,NaN,Notices,NaN,Employees\nAffected,Permanent Layoff,Temporary\nLayoff,Not Identified Layoff,NaN,Permanent Closure,NaN,Temporary Closure,NaN,Not Identified Closure,NaN
1205,1205,NaN,September 2020,NaN,NaN,456,NaN,49021,251,142,13,NaN,32,NaN,18,NaN,13,NaN
1206,1206,NaN,August 2020,NaN,NaN,304,NaN,32879,109,134,15,NaN,29,NaN,17,NaN,15,NaN
1207,1207,NaN,July 2020,NaN,NaN,327,NaN,33088,124,133,17,NaN,22,NaN,31,NaN,17,NaN
1208,1208,NaN,October 2020,NaN,NaN,111,NaN,13162,70,18,10,NaN,11,NaN,2,NaN,10,NaN
1209,1209,NaN,Total,NaN,NaN,1198,NaN,128150,554,427,55,NaN,94,NaN,68,NaN,55,NaN

In [5]:
len(ca_data)

1210

In [6]:
ca_data = ca_data[1:-8] 
ca_data.head()

,Unnamed: 0,Unnamed: 0.1,WARN Summary by Month,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
3,3,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Reedley,NaN,NaN,Reedley,NaN,Fresno County,NaN,2,NaN,Layoff Permanent,NaN,NaN
4,4,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Hanford,NaN,NaN,Hanford,NaN,Kings County,NaN,3,NaN,Layoff Permanent,NaN,NaN
5,5,NaN,2020-10-06 00:00:00,2020-11-09 00:00:00,2020-10-14 00:00:00,NaN,"ABM Aviation, Inc.",NaN,NaN,Los Angeles,NaN,Los Angeles County,NaN,67,NaN,Layoff Permanent,NaN,NaN

In [7]:
headers = ca_data.iloc[1]
headers

Unnamed: 0                                 2
Unnamed: 0.1                             NaN
WARN Summary by Month           Notice\nDate
Unnamed: 2                   Effective\nDate
Unnamed: 3                    Received\nDate
Unnamed: 4                               NaN
Unnamed: 5                           Company
Unnamed: 6                               NaN
Unnamed: 7                               NaN
Unnamed: 8                              City
Unnamed: 9                               NaN
Unnamed: 10                           County
Unnamed: 11                              NaN
Unnamed: 12                No. Of Employees
Unnamed: 13                              NaN
Unnamed: 14              Layoff/Closure Type
Unnamed: 15                              NaN
Unnamed: 16                              NaN
Name: 2, dtype: object

In [8]:
ca_data = ca_data[1:]
ca_data.head()

,Unnamed: 0,Unnamed: 0.1,WARN Summary by Month,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
3,3,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Reedley,NaN,NaN,Reedley,NaN,Fresno County,NaN,2,NaN,Layoff Permanent,NaN,NaN
4,4,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Hanford,NaN,NaN,Hanford,NaN,Kings County,NaN,3,NaN,Layoff Permanent,NaN,NaN
5,5,NaN,2020-10-06 00:00:00,2020-11-09 00:00:00,2020-10-14 00:00:00,NaN,"ABM Aviation, Inc.",NaN,NaN,Los Angeles,NaN,Los Angeles County,NaN,67,NaN,Layoff Permanent,NaN,NaN
6,6,NaN,2020-07-31 00:00:00,2020-07-31 00:00:00,2020-10-13 00:00:00,NaN,Club One Casino,NaN,NaN,Fresno,NaN,Fresno County,NaN,126,NaN,Layoff Temporary,NaN,NaN

In [9]:
ca_data.columns = headers
ca_data.head()

2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
3,3,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Reedley,NaN,NaN,Reedley,NaN,Fresno County,NaN,2,NaN,Layoff Permanent,NaN,NaN
4,4,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Hanford,NaN,NaN,Hanford,NaN,Kings County,NaN,3,NaN,Layoff Permanent,NaN,NaN
5,5,NaN,2020-10-06 00:00:00,2020-11-09 00:00:00,2020-10-14 00:00:00,NaN,"ABM Aviation, Inc.",NaN,NaN,Los Angeles,NaN,Los Angeles County,NaN,67,NaN,Layoff Permanent,NaN,NaN
6,6,NaN,2020-07-31 00:00:00,2020-07-31 00:00:00,2020-10-13 00:00:00,NaN,Club One Casino,NaN,NaN,Fresno,NaN,Fresno County,NaN,126,NaN,Layoff Temporary,NaN,NaN

In [10]:
# ca_data = ca_data[['Notice Date', 'Effective Date', 'Received Date', 'Company', 'City', 'County', 'No. Of Employees ', 'Layoff/Closure Type']]

In [11]:
ca_data.columns = ca_data.columns.str.replace('\\n',' ')

In [12]:
ca_data.columns

Index([                  nan,                   nan,         'Notice Date',
            'Effective Date',       'Received Date',                   nan,
                   'Company',                   nan,                   nan,
                      'City',                   nan,              'County',
                         nan,   'No. Of Employees ',                   nan,
       'Layoff/Closure Type',                   nan,                   nan],
      dtype='object', name=2)

In [13]:
ca_data.tail()

2,NaN,NaN,Notice Date,Effective Date,Received Date,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
1197,1197,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing El Segundo RIF,NaN,NaN,El Segundo,NaN,Los Angeles County,NaN,3,NaN,Layoff Permanent,NaN,NaN
1198,1198,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Long Beach RIF,NaN,NaN,Long Beach,NaN,Los Angeles County,NaN,19,NaN,Layoff Permanent,NaN,NaN
1199,1199,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Huntington Beach RIF,NaN,NaN,Huntington Beach,NaN,Orange County,NaN,24,NaN,Layoff Permanent,NaN,NaN
1200,1200,NaN,2020-06-25 00:00:00,2020-06-30 00:00:00,2020-07-01 00:00:00,NaN,Macy's,NaN,NaN,Modesto,NaN,Stanislaus County,NaN,75,NaN,Layoff Permanent,NaN,NaN
1201,1201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
ca_data

2,NaN,NaN,Notice Date,Effective Date,Received Date,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
2,2,NaN,Notice\nDate,Effective\nDate,Received\nDate,NaN,Company,NaN,NaN,City,NaN,County,NaN,No. Of Employees,NaN,Layoff/Closure Type,NaN,NaN
3,3,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Reedley,NaN,NaN,Reedley,NaN,Fresno County,NaN,2,NaN,Layoff Permanent,NaN,NaN
4,4,NaN,2020-10-09 00:00:00,2020-10-23 00:00:00,2020-10-14 00:00:00,NaN,Adventist Health Hanford,NaN,NaN,Hanford,NaN,Kings County,NaN,3,NaN,Layoff Permanent,NaN,NaN
5,5,NaN,2020-10-06 00:00:00,2020-11-09 00:00:00,2020-10-14 00:00:00,NaN,"ABM Aviation, Inc.",NaN,NaN,Los Angeles,NaN,Los Angeles County,NaN,67,NaN,Layoff Permanent,NaN,NaN
6,6,NaN,2020-07-31 00:00:00,2020-07-31 00:00:00,2020-10-13 00:00:00,NaN,Club One Casino,NaN,NaN,Fresno,NaN,Fresno County,NaN,126,NaN,Layoff Temporary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,1197,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing El Segundo RIF,NaN,NaN,El Segundo,NaN,Los Angeles County,NaN,3,NaN,Layoff Permanent,NaN,NaN
1198,1198,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Long Beach RIF,NaN,NaN,Long Beach,NaN,Los Angeles County,NaN,19,NaN,Layoff Permanent,NaN,NaN
1199,1199,NaN,2020-06-26 00:00:00,2020-08-28 00:00:00,2020-07-01 00:00:00,NaN,Boeing Huntington Beach RIF,NaN,NaN,Huntington Beach,NaN,Orange County,NaN,24,NaN,Layoff Permanent,NaN,NaN
1200,1200,NaN,2020-06-25 00:00:00,2020-06-30 00:00:00,2020-07-01 00:00:00,NaN,Macy's,NaN,NaN,Modesto,NaN,Stanislaus County,NaN,75,NaN,Layoff Permanent,NaN,NaN
1201,1201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# ca_data = ca_data[['Notice Date', 'Effective Date', 'Received Date', 'Company', 'City', 'County', 'No. Of Employees ', 'Layoff/Closure Type']]
# ca_data = ca_data[:-1]

# cali_hist_data = os.environ['PROCESS_DIR']
# cali_hist_path = '{}/california_warn_raw_start.csv'.format(cali_hist_data)

# recent = pd.read_csv(cali_hist_path)
# recent = recent.loc[:, ~recent.columns.str.startswith('Unnamed')]

# ca_data = ca_data.rename(columns={'Notice Date':'Notice_Date', 'Effective Date':'Effective_Date', 'Received Date': 'Received_Date', 'No. Of Employees ': 'No_employees', 'Layoff/Closure Type':'Layoff/Closure'})

# ca_data['Notice_Date'] = pd.to_datetime(ca_data['Notice_Date'])
# ca_data['Effective_Date'] = pd.to_datetime(ca_data['Effective_Date'])
# ca_data['Received_Date'] = pd.to_datetime(ca_data['Received_Date'])

# ca_data['Notice_Date'] = ca_data['Notice_Date'].dt.strftime('%m/%d/%Y')
# ca_data['Effective_Date'] = ca_data['Effective_Date'].dt.strftime('%m/%d/%Y')
# ca_data['Received_Date'] = ca_data['Received_Date'].dt.strftime('%m/%d/%Y')

# all_ca_data = pd.concat([ca_data, recent])
# all_ca_data.drop_duplicates(inplace=True)