In [1]:
import pandas as pd

In [2]:
# Test Merge

In [3]:
animal_names = pd.read_csv('test_data/animal_names.csv')
animal_houses = pd.read_csv('test_data/animal_houses.csv')

In [4]:
animal_names

    Name Animal
0     hi    cat
1    low    dog
2   this    cat
3  there    cat
4  tooth    dog
5   nail  snail
6   flow   bird

In [5]:
animal_houses

   Anima  House
0    cat  couch
1  snail    rug

In [6]:
outer_merged = pd.merge(animal_houses, animal_names, how="left", left_on="Anima", right_on="Animal")
outer_merged

   Anima  House   Name Animal
0    cat  couch     hi    cat
1    cat  couch   this    cat
2    cat  couch  there    cat
3  snail    rug   nail  snail