In [1]:
import pandas as pd
import numpy as np

In [2]:
cali_layoffs = pd.read_csv('california_warn_raw.csv')
cali_population = pd.read_csv('county_population.csv', delimiter='\t', thousands=',') #dtype={1:'str'}

population data from: https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html#par_textimage_242301767

In [3]:
cali_layoffs.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,07/30/2020,07/21/2020,10/29/2020,VFC,Alameda,Alameda County,7.0,Closure Permanent
1,09/16/2020,04/27/2020,10/29/2020,Araca Merchandise LP.,San Fernando,Los Angeles County,89.0,Layoff Permanent
2,10/23/2020,09/25/2020,10/29/2020,"STAR Sports Theatre Arts & Recreation, Inc.",Culver City,Los Angeles County,60.0,Layoff Permanent
3,09/16/2020,04/25/2020,10/29/2020,Panasonic Avionics Corporation,Lake Forest,Orange County,582.0,Layoff Permanent
4,09/03/2020,05/08/2020,10/29/2020,Molson Coors Beverage Company,Baldwin Park,Los Angeles County,436.0,Closure Permanent

In [4]:
cali_layoffs.tail()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
9466,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",San Francisco,No County Name,86.0,Layoff Permanent
9467,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",Santa Monica,No County Name,49.0,Closure Permanent
9468,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",Venice,No County Name,11.0,Closure Permanent
9469,06/29/2015,08/28/2015,06/30/2015,"Safeway, Inc.",Pleasanton,No County Name,18.0,Layoff Unknown at this time
9470,06/30/2015,07/22/2015,06/30/2015,Medtronic Ablation Frontiers LLC,Carlsbad,No County Name,50.0,Closure Permanent

## California 2020 Layoffs

We are selecting 2020 records by isolating the year on the `effective date` column.
By choosing `effective date` we make sure that these layoffs actually occurred in 2020, as some layoff notices can be issues much earlier the layoff date.

In [5]:
cali_layoffs['Year'] = cali_layoffs['Effective Date'].str[-4:]
cali_layoffs['Layoff/Closure'] = cali_layoffs['Layoff/Closure'].str.replace('at thistime', 'at this time')
cali_2020 = cali_layoffs[cali_layoffs['Year'] == '2020']
cali_2020['Employees'] = cali_2020['Employees'].astype('Int64')
cali_2020.tail()

<ipython-input-5-957d264fb98a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2020['Employees'] = cali_2020['Employees'].astype('Int64')

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year
5689,10/30/2019,01/03/2020,11/01/2019,"Ashford University, LLC",San Diego,San Diego County,218,Layoff Permanent,2020
5691,11/01/2019,01/10/2020,11/01/2019,American General Life Insurance Company,Pasadena,Los Angeles County,40,Closure Permanent,2020
5708,10/24/2019,01/01/2020,10/28/2019,"Hotel Del Coronado, Curio Collection By Hilton...",Coronado,San Diego County,160,Layoff Temporary,2020
5711,10/17/2019,05/24/2020,10/23/2019,Wells Fargo,Concord,Contra Costa County,357,Layoff Permanent,2020
5753,09/26/2019,01/16/2020,09/30/2019,"Forever 21 Logistics, LLC",Los Angeles,Los Angeles County,1170,Closure Permanent,2020

In [6]:
cali_2020['County'] = cali_2020['County'].str.strip()
cali_2020.loc[~(cali_2020['County'].str.endswith('County')),'County'] = cali_2020['County'] + " County"

<ipython-input-6-0b43f9e4a6a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2020['County'] = cali_2020['County'].str.strip()

In [7]:
cali_population.head(5)

                      California  39,512,223
0    .Alameda County, California     1671329
1     .Alpine County, California        1129
2     .Amador County, California       39752
3      .Butte County, California      219186
4  .Calaveras County, California       45905

In [8]:
cali_population.rename(columns={'California':'Counties','39,512,223':'Population'}, inplace=True)
cali_population['County Names'] = cali_population['Counties'].str[1:]
cali_population['County Names'] = cali_population['County Names'].str.split(',').str[0]
cali_population.head(4)

                      Counties  Population    County Names
0  .Alameda County, California     1671329  Alameda County
1   .Alpine County, California        1129   Alpine County
2   .Amador County, California       39752   Amador County
3    .Butte County, California      219186    Butte County

In [9]:
len(cali_2020)

5658

In [10]:
cali_merge = pd.merge(cali_2020, cali_population, how="left", left_on="County", right_on="County Names")
cali_merge.drop(columns='Counties', inplace=True)
cali_merge.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year,Population,County Names
0,07/30/2020,07/21/2020,10/29/2020,VFC,Alameda,Alameda County,7,Closure Permanent,2020,1671329,Alameda County
1,09/16/2020,04/27/2020,10/29/2020,Araca Merchandise LP.,San Fernando,Los Angeles County,89,Layoff Permanent,2020,10039107,Los Angeles County
2,10/23/2020,09/25/2020,10/29/2020,"STAR Sports Theatre Arts & Recreation, Inc.",Culver City,Los Angeles County,60,Layoff Permanent,2020,10039107,Los Angeles County
3,09/16/2020,04/25/2020,10/29/2020,Panasonic Avionics Corporation,Lake Forest,Orange County,582,Layoff Permanent,2020,3175692,Orange County
4,09/03/2020,05/08/2020,10/29/2020,Molson Coors Beverage Company,Baldwin Park,Los Angeles County,436,Closure Permanent,2020,10039107,Los Angeles County

In [11]:
layoffs_by_county = cali_merge.groupby(['County Names','Year']).agg('sum')
layoffs = layoffs_by_county.merge(cali_population, how="left", on="County Names")
layoffs.drop(columns=['Counties', 'Population_x'], inplace=True)
layoffs.rename(columns={"Population_y":"Population"}, inplace=True)
layoffs['Percentage Laid Off'] = (layoffs['Employees']/layoffs['Population']) * 100
layoffs.sort_values(by='Percentage Laid Off', ascending=False)

              County Names  Employees  Population  Percentage Laid Off
18         Mariposa County       2262       17203            13.148869
33    San Francisco County      56652      881549             6.426415
21             Mono County        879       14444             6.085572
12             Inyo County        539       18039             2.987971
32        San Diego County      75458     3338330             2.260352
36        San Mateo County      16987      766573             2.215966
23             Napa County       2975      137744             2.159804
25           Orange County      64764     3175692             2.039367
0           Alameda County      32756     1671329             1.959877
15      Los Angeles County     191307    10039107             1.905618
22         Monterey County       8187      434061             1.886140
38      Santa Clara County      36140     1927852             1.874625
39       Santa Cruz County       4719      273213             1.727224
35  San Luis Obispo County       4831      283111             1.706398
49          Ventura County      12714      846006             1.502826
19        Mendocino County        974       86749             1.122780
43           Sonoma County       5095      494336             1.030675
37    Santa Barbara County       4373      446499             0.979397
29       Sacramento County      14995     1552058             0.966137
17            Marin County       2385      258826             0.921468
28        Riverside County      21887     2470546             0.885918
31   San Bernardino County      19074     2180085             0.874920
30       San Benito County        536       62808             0.853394
2             Butte County       1625      219186             0.741379
34      San Joaquin County       5588      762148             0.733191
16           Madera County       1113      157327             0.707444
5      Contra Costa County       7906     1153526             0.685377
26           Placer County       2619      398329             0.657497
50             Yolo County       1310      220500             0.594104
45           Sutter County        566       96971             0.583680
13             Kern County       5139      900202             0.570872
8            Fresno County       5657      999101             0.566209
14            Kings County        811      152940             0.530273
42           Solano County       2233      447643             0.498835
44       Stanislaus County       2737      550660             0.497040
7         El Dorado County        819      192843             0.424698
1            Amador County        159       39752             0.399980
24           Nevada County        396       99755             0.396973
40           Shasta County        674      180080             0.374278
27           Plumas County         67       18807             0.356250
47           Tulare County       1326      466195             0.284430
11         Imperial County        378      181215             0.208592
51             Yuba County        159       78668             0.202115
6         Del Norte County         51       27812             0.183374
10         Humboldt County        227      135558             0.167456
4            Colusa County         30       21547             0.139231
48         Tuolumne County         70       54478             0.128492
20           Merced County        339      277680             0.122083
41         Siskiyou County         45       43539             0.103356
9             Glenn County         26       28393             0.091572
3         Calaveras County         40       45905             0.087136
46           Tehama County          1       65084             0.001536

In [12]:
cali_2019 = cali_layoffs[cali_layoffs['Year'] == '2019']
cali_2019['Employees'] = cali_2019['Employees'].astype('Int64')
cali_2019['County'] = cali_2019['County'].str.strip()
cali_2019.loc[~(cali_2019['County'].str.endswith('County')),'County'] = cali_2019['County'] + " County"
cali_2019

<ipython-input-12-d2d3be101e82>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2019['Employees'] = cali_2019['Employees'].astype('Int64')
<ipython-input-12-d2d3be101e82>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2019['County'] = cali_2019['County'].str.strip()
/Users/dilcia_mercedes/.local/share/virtualenvs/cali_WARN-MY_IDcvv/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year
5478,04/29/2019,07/01/2019,03/03/2020,Kimberly-Clark Corporation,Fullerton,Orange County,204,Closure Permanent,2019
5492,05/02/2019,07/05/2019,02/25/2020,Alticor Inc.,Buena Park,Orange County,45,Layoff Permanent,2019
5607,12/20/2019,12/20/2019,12/30/2019,"Event Solutions International, Inc. dba MotusO...",Long Beach,Los Angeles County,38,Layoff Permanent,2019
5608,12/30/2019,12/31/2019,12/30/2019,Taylor Lane Organic Coffee,Petaluma,Sonoma County,6,Closure Permanent,2019
5609,10/16/2019,11/01/2019,12/27/2019,Barneys New York,San Francisco,San Francisco County,100,Closure Permanent,2019
...,...,...,...,...,...,...,...,...,...
6705,06/28/2019,08/28/2019,06/28/2019,"California Comfort Systems USA, Inc.",Ontario,San Bernardino County,16,Closure Permanent,2019
6706,06/28/2019,08/28/2019,06/28/2019,"California Comfort Systems USA, Inc.",San Diego,San Diego County,84,Closure Permanent,2019
6707,06/28/2019,08/30/2019,06/28/2019,"Coloredge, Inc.",Burbank,Los Angeles County,32,Closure Permanent,2019
6708,06/28/2019,08/31/2019,06/28/2019,Verity Business Services,San Jose,Santa Clara County,5,Layoff Permanent,2019
7239,04/30/2018,03/18/2019,05/01/2018,"WWF Operating Company, LLC",American,Napa County,72,Closure Permanent,2019

In [13]:
cali_merge_2019 = pd.merge(cali_2019, cali_population, how="left", left_on="County", right_on="County Names")
cali_merge_2019.drop(columns='Counties', inplace=True)
cali_merge_2019.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year,Population,County Names
0,04/29/2019,07/01/2019,03/03/2020,Kimberly-Clark Corporation,Fullerton,Orange County,204,Closure Permanent,2019,3175692,Orange County
1,05/02/2019,07/05/2019,02/25/2020,Alticor Inc.,Buena Park,Orange County,45,Layoff Permanent,2019,3175692,Orange County
2,12/20/2019,12/20/2019,12/30/2019,"Event Solutions International, Inc. dba MotusO...",Long Beach,Los Angeles County,38,Layoff Permanent,2019,10039107,Los Angeles County
3,12/30/2019,12/31/2019,12/30/2019,Taylor Lane Organic Coffee,Petaluma,Sonoma County,6,Closure Permanent,2019,494336,Sonoma County
4,10/16/2019,11/01/2019,12/27/2019,Barneys New York,San Francisco,San Francisco County,100,Closure Permanent,2019,881549,San Francisco County

In [14]:
layoffs_by_county_2019 = cali_merge_2019.groupby(['County Names','Year']).agg('sum')
layoffs_2019 = layoffs_by_county_2019.merge(cali_population, how="left", on="County Names")
layoffs_2019.drop(columns=['Counties', 'Population_x'], inplace=True)
layoffs_2019.rename(columns={"Population_y":"Population"}, inplace=True)
layoffs_2019['Percentage Laid Off'] = (layoffs_2019['Employees']/layoffs_2019['Population']) * 100
layoffs_2019.sort_values(by='Percentage Laid Off', ascending=False)

              County Names  Employees  Population  Percentage Laid Off
1             Butte County       1877      219186             0.856350
12           Nevada County        521       99755             0.522280
5             Glenn County        143       28393             0.503645
24      Santa Clara County       8882     1927852             0.460720
19    San Francisco County       3808      881549             0.431967
0           Alameda County       4816     1671329             0.288154
22        San Mateo County       1869      766573             0.243812
34             Yolo County        479      220500             0.217234
7              Kern County       1805      900202             0.200511
14           Placer County        769      398329             0.193056
29       Stanislaus County        969      550660             0.175971
27           Solano County        768      447643             0.171565
20      San Joaquin County       1267      762148             0.166241
10         Monterey County        721      434061             0.166106
33          Ventura County       1324      846006             0.156500
8       Los Angeles County      15219    10039107             0.151597
25       Santa Cruz County        405      273213             0.148236
15        Riverside County       3583     2470546             0.145029
31           Tulare County        670      466195             0.143717
13           Orange County       4427     3175692             0.139403
2      Contra Costa County       1501     1153526             0.130123
17   San Bernardino County       2776     2180085             0.127334
18        San Diego County       4072     3338330             0.121977
4            Fresno County       1200      999101             0.120108
35             Yuba County         88       78668             0.111863
9         Mendocino County         74       86749             0.085304
23    Santa Barbara County        379      446499             0.084883
16       Sacramento County       1252     1552058             0.080667
11             Napa County        110      137744             0.079858
28           Sonoma County        230      494336             0.046527
21  San Luis Obispo County         80      283111             0.028257
6          Imperial County         44      181215             0.024281
26           Shasta County         36      180080             0.019991
30           Tehama County         10       65084             0.015365
3         El Dorado County         19      192843             0.009853
32         Tuolumne County          1       54478             0.001836

In [15]:
layoff_sum_2020 = layoffs['Employees'].sum()
layoff_sum_2020

622600

In [16]:
layoff_sum_2019 = layoffs_2019['Employees'].sum()
layoff_sum_2019

66194

In [17]:
cali_merge_2019

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year,Population,County Names
0,04/29/2019,07/01/2019,03/03/2020,Kimberly-Clark Corporation,Fullerton,Orange County,204,Closure Permanent,2019,3175692,Orange County
1,05/02/2019,07/05/2019,02/25/2020,Alticor Inc.,Buena Park,Orange County,45,Layoff Permanent,2019,3175692,Orange County
2,12/20/2019,12/20/2019,12/30/2019,"Event Solutions International, Inc. dba MotusO...",Long Beach,Los Angeles County,38,Layoff Permanent,2019,10039107,Los Angeles County
3,12/30/2019,12/31/2019,12/30/2019,Taylor Lane Organic Coffee,Petaluma,Sonoma County,6,Closure Permanent,2019,494336,Sonoma County
4,10/16/2019,11/01/2019,12/27/2019,Barneys New York,San Francisco,San Francisco County,100,Closure Permanent,2019,881549,San Francisco County
...,...,...,...,...,...,...,...,...,...,...,...
770,06/28/2019,08/28/2019,06/28/2019,"California Comfort Systems USA, Inc.",Ontario,San Bernardino County,16,Closure Permanent,2019,2180085,San Bernardino County
771,06/28/2019,08/28/2019,06/28/2019,"California Comfort Systems USA, Inc.",San Diego,San Diego County,84,Closure Permanent,2019,3338330,San Diego County
772,06/28/2019,08/30/2019,06/28/2019,"Coloredge, Inc.",Burbank,Los Angeles County,32,Closure Permanent,2019,10039107,Los Angeles County
773,06/28/2019,08/31/2019,06/28/2019,Verity Business Services,San Jose,Santa Clara County,5,Layoff Permanent,2019,1927852,Santa Clara County
774,04/30/2018,03/18/2019,05/01/2018,"WWF Operating Company, LLC",American,Napa County,72,Closure Permanent,2019,137744,Napa County

In [18]:
cali_2019['Layoff/Closure'].unique()

array(['Closure Permanent', 'Layoff Permanent',
       'Layoff Unknown at this time', 'Closure Unknown at this time',
       'Layoff Temporary', 'Closure Temporary'], dtype=object)

In [19]:
cali_2019['Layoff/Closure'] = cali_2019['Layoff/Closure'].str.replace('at thistime', 'at this time')

<ipython-input-19-1bfdab73f880>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2019['Layoff/Closure'] = cali_2019['Layoff/Closure'].str.replace('at thistime', 'at this time')

In [20]:
cali_2019['Layoff/Closure'].unique()

array(['Closure Permanent', 'Layoff Permanent',
       'Layoff Unknown at this time', 'Closure Unknown at this time',
       'Layoff Temporary', 'Closure Temporary'], dtype=object)

In [21]:
cali_2020['Layoff/Closure'].unique()

array(['Closure Permanent', 'Layoff Permanent', 'Layoff Temporary',
       'Closure Temporary', 'Layoff Type Unknown', 'Closure Type Unknown',
       'Closure Unknown at this time', 'Layoff Unknown at this time'],
      dtype=object)

In [27]:
layoff_closures_2020 = cali_2020.groupby(['Layoff/Closure']).agg('sum')
layoff_closures_2020

                              Employees
Layoff/Closure
Closure Permanent                 30692
Closure Temporary                 72035
Closure Type Unknown                599
Closure Unknown at this time       3207
Layoff Permanent                 107943
Layoff Temporary                 383178
Layoff Type Unknown                5701
Layoff Unknown at this time       19245

In [30]:
cali_2020.groupby(['County','Layoff/Closure']).agg('sum')

                                            Employees
County         Layoff/Closure
Alameda County Closure Permanent                 2297
               Closure Temporary                 1527
               Layoff Permanent                  4118
               Layoff Temporary                 24285
               Layoff Type Unknown                379
...                                               ...
Yolo County    Layoff Type Unknown                 20
               Layoff Unknown at this time        126
Yuba County    Closure Permanent                   80
               Layoff Permanent                    78
               Layoff Temporary                     1

[210 rows x 1 columns]

In [31]:
cali_2020.groupby(['County','Layoff/Closure']).agg('sum').reset_index('Layoff/Closure')

                             Layoff/Closure  Employees
County
Alameda County            Closure Permanent       2297
Alameda County            Closure Temporary       1527
Alameda County             Layoff Permanent       4118
Alameda County             Layoff Temporary      24285
Alameda County          Layoff Type Unknown        379
...                                     ...        ...
Yolo County             Layoff Type Unknown         20
Yolo County     Layoff Unknown at this time        126
Yuba County               Closure Permanent         80
Yuba County                Layoff Permanent         78
Yuba County                Layoff Temporary          1

[210 rows x 2 columns]

In [32]:
layoff_closures_2019 = cali_2019.groupby(['Layoff/Closure']).agg('sum')
layoff_closures_2019

                              Employees
Layoff/Closure
Closure Permanent                 28672
Closure Temporary                  3272
Closure Unknown at this time       1700
Layoff Permanent                  28438
Layoff Temporary                   1775
Layoff Unknown at this time        2337

In [33]:
cali_2019.groupby(['County','Layoff/Closure']).agg('sum')

                                             Employees
County         Layoff/Closure
Alameda County Closure Permanent                  2615
               Closure Unknown at this time        193
               Layoff Permanent                   1730
               Layoff Temporary                    191
               Layoff Unknown at this time          87
...                                                ...
Ventura County Layoff Unknown at this time          60
Yolo County    Closure Permanent                   443
               Layoff Permanent                     31
               Layoff Unknown at this time           5
Yuba County    Closure Permanent                    88

[97 rows x 1 columns]

In [34]:
cali_2019.groupby(['County','Layoff/Closure']).agg('sum').reset_index('Layoff/Closure')

                              Layoff/Closure  Employees
County
Alameda County             Closure Permanent       2615
Alameda County  Closure Unknown at this time        193
Alameda County              Layoff Permanent       1730
Alameda County              Layoff Temporary        191
Alameda County   Layoff Unknown at this time         87
...                                      ...        ...
Ventura County   Layoff Unknown at this time         60
Yolo County                Closure Permanent        443
Yolo County                 Layoff Permanent         31
Yolo County      Layoff Unknown at this time          5
Yuba County                Closure Permanent         88

[97 rows x 2 columns]

In [23]:
layoffs_2020_and_2019 = pd.merge(layoffs, layoffs_2019, how="left", left_on="County Names", right_on="County Names")
layoffs_2020_and_2019.rename(columns={"Employees_x":"Employees_2020", "Population_x":"Population_2020", "Percentage Laid Off_x":"Percentage Laid Off_2020", "Employees_y":"Employees_2019","Percentage Laid Off_y":"Percentage Laid Off_2019"}, inplace=True)
layoffs_2020_and_2019.drop(columns='Population_y', inplace=True)
layoffs_2020_and_2019.sort_values(by='Percentage Laid Off_2020', ascending=False)

,County Names,Employees_2020,Population_2020,Percentage Laid Off_2020,Employees_2019,Percentage Laid Off_2019
18,Mariposa County,2262,17203,13.148869,<NA>,NaN
33,San Francisco County,56652,881549,6.426415,3808,0.431967
21,Mono County,879,14444,6.085572,<NA>,NaN
12,Inyo County,539,18039,2.987971,<NA>,NaN
32,San Diego County,75458,3338330,2.260352,4072,0.121977
36,San Mateo County,16987,766573,2.215966,1869,0.243812
23,Napa County,2975,137744,2.159804,110,0.079858
25,Orange County,64764,3175692,2.039367,4427,0.139403
0,Alameda County,32756,1671329,1.959877,4816,0.288154
15,Los Angeles County,191307,10039107,1.905618,15219,0.151597
22,Monterey County,8187,434061,1.886140,721,0.166106
38,Santa Clara County,36140,1927852,1.874625,8882,0.460720
39,Santa Cruz County,4719,273213,1.727224,405,0.148236
35,San Luis Obispo County,4831,283111,1.706398,80,0.028257
49,Ventura County,12714,846006,1.502826,1324,0.156500
19,Mendocino County,974,86749,1.122780,74,0.085304
43,Sonoma County,5095,494336,1.030675,230,0.046527
37,Santa Barbara County,4373,446499,0.979397,379,0.084883
29,Sacramento County,14995,1552058,0.966137,1252,0.080667
17,Marin County,2385,258826,0.921468,<NA>,NaN
28,Riverside County,21887,2470546,0.885918,3583,0.145029
31,San Bernardino County,19074,2180085,0.874920,2776,0.127334
30,San Benito County,536,62808,0.853394,<NA>,NaN
2,Butte County,1625,219186,0.741379,1877,0.856350
34,San Joaquin County,5588,762148,0.733191,1267,0.166241
16,Madera County,1113,157327,0.707444,<NA>,NaN
5,Contra Costa County,7906,1153526,0.685377,1501,0.130123
26,Placer County,2619,398329,0.657497,769,0.193056
50,Yolo County,1310,220500,0.594104,479,0.217234
45,Sutter County,566,96971,0.583680,<NA>,NaN
13,Kern County,5139,900202,0.570872,1805,0.200511
8,Fresno County,5657,999101,0.566209,1200,0.120108
14,Kings County,811,152940,0.530273,<NA>,NaN
42,Solano County,2233,447643,0.498835,768,0.171565
44,Stanislaus County,2737,550660,0.497040,969,0.175971
7,El Dorado County,819,192843,0.424698,19,0.009853
1,Amador County,159,39752,0.399980,<NA>,NaN
24,Nevada County,396,99755,0.396973,521,0.522280
40,Shasta County,674,180080,0.374278,36,0.019991
27,Plumas County,67,18807,0.356250,<NA>,NaN
47,Tulare County,1326,466195,0.284430,670,0.143717
11,Imperial County,378,181215,0.208592,44,0.024281
51,Yuba County,159,78668,0.202115,88,0.111863
6,Del Norte County,51,27812,0.183374,<NA>,NaN
10,Humboldt County,227,135558,0.167456,<NA>,NaN
4,Colusa County,30,21547,0.139231,<NA>,NaN
48,Tuolumne County,70,54478,0.128492,1,0.001836
20,Merced County,339,277680,0.122083,<NA>,NaN
41,Siskiyou County,45,43539,0.103356,<NA>,NaN
9,Glenn County,26,28393,0.091572,143,0.503645
3,Calaveras County,40,45905,0.087136,<NA>,NaN
46,Tehama County,1,65084,0.001536,10,0.015365

In [24]:
# cali_2019[cali_2019['County'] == "Mariposa County"]
# just a check

## Next Steps

- [x] Standardize the county names
- [x] calculate percentage of eviction per county
- [x] write up findings for Evictions-CA google doc
- [ ] Get city names and county names to match up the cities with 'No County Name' in County column (later for information prior to 2020 - which adds context)
- [ ] combine population information with fips codes to get the population for each city