In [1]:
import pandas as pd
import numpy as np

In [2]:
cali_layoffs = pd.read_csv('california_warn_raw.csv')
cali_population = pd.read_csv('county_population.csv', delimiter='\t', thousands=',') #dtype={1:'str'}

population data from: https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html#par_textimage_242301767

In [3]:
cali_layoffs.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,07/30/2020,07/21/2020,10/29/2020,VFC,Alameda,Alameda County,7.0,Closure Permanent
1,09/16/2020,04/27/2020,10/29/2020,Araca Merchandise LP.,San Fernando,Los Angeles County,89.0,Layoff Permanent
2,10/23/2020,09/25/2020,10/29/2020,"STAR Sports Theatre Arts & Recreation, Inc.",Culver City,Los Angeles County,60.0,Layoff Permanent
3,09/16/2020,04/25/2020,10/29/2020,Panasonic Avionics Corporation,Lake Forest,Orange County,582.0,Layoff Permanent
4,09/03/2020,05/08/2020,10/29/2020,Molson Coors Beverage Company,Baldwin Park,Los Angeles County,436.0,Closure Permanent

In [4]:
cali_layoffs.tail()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
9466,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",San Francisco,No County Name,86.0,Layoff Permanent
9467,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",Santa Monica,No County Name,49.0,Closure Permanent
9468,06/25/2015,08/24/2015,06/30/2015,"Intuit, Inc.",Venice,No County Name,11.0,Closure Permanent
9469,06/29/2015,08/28/2015,06/30/2015,"Safeway, Inc.",Pleasanton,No County Name,18.0,Layoff Unknown at this time
9470,06/30/2015,07/22/2015,06/30/2015,Medtronic Ablation Frontiers LLC,Carlsbad,No County Name,50.0,Closure Permanent

## California 2020 Layoffs

We are selecting 2020 records by isolating the year on the `effective date` column.
By choosing `effective date` we make sure that these layoffs actually occurred in 2020, as some layoff notices can be issues much earlier the layoff date.

In [5]:
cali_layoffs['Year'] = cali_layoffs['Effective Date'].str[-4:]
cali_2020 = cali_layoffs[cali_layoffs['Year'] == '2020']
cali_2020['Employees'] = cali_2020['Employees'].astype('Int64')
cali_2020.tail()

<ipython-input-5-59fdb45e4edc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2020['Employees'] = cali_2020['Employees'].astype('Int64')

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year
5689,10/30/2019,01/03/2020,11/01/2019,"Ashford University, LLC",San Diego,San Diego County,218,Layoff Permanent,2020
5691,11/01/2019,01/10/2020,11/01/2019,American General Life Insurance Company,Pasadena,Los Angeles County,40,Closure Permanent,2020
5708,10/24/2019,01/01/2020,10/28/2019,"Hotel Del Coronado, Curio Collection By Hilton...",Coronado,San Diego County,160,Layoff Temporary,2020
5711,10/17/2019,05/24/2020,10/23/2019,Wells Fargo,Concord,Contra Costa County,357,Layoff Permanent,2020
5753,09/26/2019,01/16/2020,09/30/2019,"Forever 21 Logistics, LLC",Los Angeles,Los Angeles County,1170,Closure Permanent,2020

In [6]:
cali_2020['County'] = cali_2020['County'].str.strip()
cali_2020.loc[~(cali_2020['County'].str.endswith('County')),'County'] = cali_2020['County'] + " County"

<ipython-input-6-0b43f9e4a6a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2020['County'] = cali_2020['County'].str.strip()

In [7]:
cali_population.head(5)

                      California  39,512,223
0    .Alameda County, California     1671329
1     .Alpine County, California        1129
2     .Amador County, California       39752
3      .Butte County, California      219186
4  .Calaveras County, California       45905

In [8]:
cali_population.rename(columns={'California':'Counties','39,512,223':'Population'}, inplace=True)
cali_population['County Names'] = cali_population['Counties'].str[1:]
cali_population['County Names'] = cali_population['County Names'].str.split(',').str[0]
cali_population.head(4)

                      Counties  Population    County Names
0  .Alameda County, California     1671329  Alameda County
1   .Alpine County, California        1129   Alpine County
2   .Amador County, California       39752   Amador County
3    .Butte County, California      219186    Butte County

In [9]:
len(cali_2020)

5658

In [10]:
cali_merge = pd.merge(cali_2020, cali_population, how="left", left_on="County", right_on="County Names")
cali_merge.drop(columns='Counties', inplace=True)
cali_merge.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure,Year,Population,County Names
0,07/30/2020,07/21/2020,10/29/2020,VFC,Alameda,Alameda County,7,Closure Permanent,2020,1671329,Alameda County
1,09/16/2020,04/27/2020,10/29/2020,Araca Merchandise LP.,San Fernando,Los Angeles County,89,Layoff Permanent,2020,10039107,Los Angeles County
2,10/23/2020,09/25/2020,10/29/2020,"STAR Sports Theatre Arts & Recreation, Inc.",Culver City,Los Angeles County,60,Layoff Permanent,2020,10039107,Los Angeles County
3,09/16/2020,04/25/2020,10/29/2020,Panasonic Avionics Corporation,Lake Forest,Orange County,582,Layoff Permanent,2020,3175692,Orange County
4,09/03/2020,05/08/2020,10/29/2020,Molson Coors Beverage Company,Baldwin Park,Los Angeles County,436,Closure Permanent,2020,10039107,Los Angeles County

In [21]:
layoffs_by_county = cali_merge.groupby(['County Names','Year']).agg('sum')
layoffs = layoffs_by_county.merge(cali_population, how="left", on="County Names")
layoffs.drop(columns=['Counties', 'Population_x'], inplace=True)
layoffs.rename(columns={"Population_y":"Population"}, inplace=True)
layoffs['Percentage Laid Off'] = (layoffs['Employees']/layoffs['Population']) * 100
layoffs.sort_values(by='Percentage Laid Off', ascending=False)

              County Names  Employees  Population  Percentage Laid Off
18         Mariposa County       2262       17203            13.148869
33    San Francisco County      56652      881549             6.426415
21             Mono County        879       14444             6.085572
12             Inyo County        539       18039             2.987971
32        San Diego County      75458     3338330             2.260352
36        San Mateo County      16987      766573             2.215966
23             Napa County       2975      137744             2.159804
25           Orange County      64764     3175692             2.039367
0           Alameda County      32756     1671329             1.959877
15      Los Angeles County     191307    10039107             1.905618
22         Monterey County       8187      434061             1.886140
38      Santa Clara County      36140     1927852             1.874625
39       Santa Cruz County       4719      273213             1.727224
35  San Luis Obispo County       4831      283111             1.706398
49          Ventura County      12714      846006             1.502826
19        Mendocino County        974       86749             1.122780
43           Sonoma County       5095      494336             1.030675
37    Santa Barbara County       4373      446499             0.979397
29       Sacramento County      14995     1552058             0.966137
17            Marin County       2385      258826             0.921468
28        Riverside County      21887     2470546             0.885918
31   San Bernardino County      19074     2180085             0.874920
30       San Benito County        536       62808             0.853394
2             Butte County       1625      219186             0.741379
34      San Joaquin County       5588      762148             0.733191
16           Madera County       1113      157327             0.707444
5      Contra Costa County       7906     1153526             0.685377
26           Placer County       2619      398329             0.657497
50             Yolo County       1310      220500             0.594104
45           Sutter County        566       96971             0.583680
13             Kern County       5139      900202             0.570872
8            Fresno County       5657      999101             0.566209
14            Kings County        811      152940             0.530273
42           Solano County       2233      447643             0.498835
44       Stanislaus County       2737      550660             0.497040
7         El Dorado County        819      192843             0.424698
1            Amador County        159       39752             0.399980
24           Nevada County        396       99755             0.396973
40           Shasta County        674      180080             0.374278
27           Plumas County         67       18807             0.356250
47           Tulare County       1326      466195             0.284430
11         Imperial County        378      181215             0.208592
51             Yuba County        159       78668             0.202115
6         Del Norte County         51       27812             0.183374
10         Humboldt County        227      135558             0.167456
4            Colusa County         30       21547             0.139231
48         Tuolumne County         70       54478             0.128492
20           Merced County        339      277680             0.122083
41         Siskiyou County         45       43539             0.103356
9             Glenn County         26       28393             0.091572
3         Calaveras County         40       45905             0.087136
46           Tehama County          1       65084             0.001536

## Next Steps

- [x] Standardize the county names
- [x] calculate percentage of eviction per county
- [ ] write up findings for Evictions-CA google doc
- [ ] Get city names and county names to match up the cities with 'No County Name' in County column (later for information prior to 2020 - which adds context)
- [ ] combine population information with fips codes to get the population for each city